*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
  list-style: none;
}

body {
  font-family: "Inter", sans-serif;
  background-color: white;
  overflow-x: hidden;
  position: relative;
}

.main {
  display: -ms-grid;
  display: grid;
  place-items: center;
  min-height: 100vh;
  position: relative;
}

@media screen and (min-width: 1440px) {
  .container {
    max-width: 1180px;
  }
}

.testimonial {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (min-width: 1440px) {
  .testimonial {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.testimonial__slide {
  position: relative;
  width: 15rem;
  margin: -2rem auto 0 auto;
}

@media screen and (min-width: 1440px) {
  .testimonial__slide {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    width: 95%;
  }
}

.testimonial__slide--bg {
  width: 19rem;
  position: absolute;
  top: -11%;
  left: -13%;
  z-index: -1;
}

@media screen and (min-width: 1440px) {
  .testimonial__slide--bg {
    width: 120%;
  }
}

.testimonial__slide--button {
  position: absolute;
  left: 50%;
  bottom: -5%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 4.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: white;
  padding: 0.5rem 0.75rem;
  border-radius: 1.5rem;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

@media screen and (min-width: 1440px) {
  .testimonial__slide--button {
    width: 6.5rem;
    padding: 1rem 1.15rem;
    left: 21%;
  }
}

.testimonial__slide--button--prev, .testimonial__slide--button--next {
  -webkit-transform: scale(0.6);
          transform: scale(0.6);
}

@media screen and (min-width: 1440px) {
  .testimonial__slide--button--prev, .testimonial__slide--button--next {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

.testimonial__img {
  width: inherit;
  -webkit-box-shadow: -1px 5px 10px rgba(0, 0, 0, 0.2);
          box-shadow: -1px 5px 10px rgba(0, 0, 0, 0.2);
  border-radius: 0.5rem;
}

.testimonial__review {
  margin: 5rem 2rem 0 2rem;
  position: relative;
  z-index: 2;
}

.testimonial__review--bg {
  position: absolute;
  top: -30%;
  left: 50%;
  -webkit-transform: scale(0.5) translateX(-100%);
          transform: scale(0.5) translateX(-100%);
}

@media screen and (min-width: 1440px) {
  .testimonial__review--bg {
    -webkit-transform: scale(1);
            transform: scale(1);
    top: -60%;
    left: 18%;
  }
}

.testimonial__text {
  text-align: center;
  line-height: 1.35rem;
  color: #202046;
  font-weight: 300;
}

@media screen and (min-width: 1440px) {
  .testimonial__text {
    font-size: 32px;
    width: 40rem;
    line-height: 2.5rem;
    margin-right: -6rem;
    margin-top: -3.5rem;
    text-align: left;
  }
}

.testimonial__identity {
  text-align: center;
  margin-top: 1rem;
}

@media screen and (min-width: 1440px) {
  .testimonial__identity {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 2rem;
  }
}

.testimonial__identity--name {
  font-size: 14px;
  font-weight: 700;
}

@media screen and (min-width: 1440px) {
  .testimonial__identity--name {
    font-size: 18px;
    margin-right: 0.5rem;
  }
}

.testimonial__identity--title {
  font-size: 13px;
  color: #babacf;
  font-weight: 500;
}

@media screen and (min-width: 1440px) {
  .testimonial__identity--title {
    font-size: 18px;
  }
}

.testimonial__bottom--bg {
  position: absolute;
  left: -20%;
  bottom: -10%;
  z-index: -1;
}

@media screen and (min-width: 1440px) {
  .testimonial__bottom--bg {
    bottom: 0;
    left: 0;
  }
}

.attribution {
  font-size: 11px;
  text-align: center;
}

@media screen and (min-width: 1440px) {
  .attribution {
    margin-top: -1rem;
  }
}

.attribution a {
  color: #3e52a3;
}
/*# sourceMappingURL=style.css.map */